extends _layout

prepend title
    - const title = "Home";
    - const pageRef = "scrapbook";
    - const description = ""

append css
    link(rel="stylesheet", href=`../css/${ pageRef }.css`)

append js
    script(defer src=`../js/${ pageRef }.js`) 

prepend body
    include _entries
append article
    